
/* 在正式开始之前，我们可以观察到项目中的有两个是公共的，每个页面都会出现的
 */
 /* ==========直接进入购物中心 */
 .go{
     position: fixed;
     top:30px;
     right: 40px;
     z-index:2000;
 }
 /* ===========继续向下，更多精彩 */
 .more{
    position: fixed;
    bottom:50px;
    right: 60px;
    z-index:2000;
    /* 调用动画 */
    animation: more 1.5s linear infinite ;
}
@keyframes more {
    0%{
        transform:translateY(0px);
    }
    25%{
        transform:translateY(-20px);
    }
    50%{
        transform:translateY(0px);
    }
    75%{
        transform:translateY(20px);
    }
    100%{
        transform:translateY(0px);
    }
}


/* 第一个屏幕：
1， 沙发，横幅，是运动的
2，其他的图片通过背景定位在上面就行了*/
/* 我们可以将将所有的图片放在一个容器里面，这样当屏幕缩放的时候，都不会出现图片乱飞的效果 */
.screen01 {
    background:url(../images/01-bg.png) no-repeat center bottom;
}
.contain{
    width: 900px;
    height: 600px;
    position: absolute;
    bottom:0;
    left: 50%;
    /* transform:translateX(-50%); */
    /* 这一步，translate会自动提高层级，导致后面书写困难 */
    margin-left:-450px;
}
.screen01 .sofa{
    position: absolute;
    top:130px;
    left: 240px;
    /* 调用sofa01 */
    animation:sofa01 1s linear infinite alternate;
}
.screen01 .fly{
    position: absolute;
    right:-50px;
    top:20px;
    /* 动画 可以多个调用 使用 */
    animation:sofa01 1s linear 0.5s infinite alternate;
}
.screen01 .goods{
    position: absolute;
    bottom:100px;
    left:40px;
}

/* 现在给沙发一个运动的动画 */
@keyframes sofa01 {
    from{
        transform:translateY(0);
    }
    to{
        transform:translateY(-30px);
    }
}

/* 第二个屏幕
1，当完全加载到第二个屏幕的时候，处于屏幕中间的文字，会变换
2，输入框会从最右边跑到电脑中间，然后停顿一下，然后再跑到电脑右上角
3，当输入框在电脑中间停顿的时候，会输入   沙发   两个字
4，在输入框从电脑中间跑到电脑右上角的这时间里，沙发样式会从电脑右下角缩放  放大到  电脑中间 */
.screen02{
    background:url("../images/02-bg.png") no-repeat center bottom;
}
.screen02 .text1{
    position: absolute;
    top:20px;
    left: 50%;
    /* transform:translateX(-50%); */
    margin-left:-200px;
}
/* 在页面载入第二屏的时候，text1会消失 */
.screen02.now .text1{
    /* display:none; */
    opacity:0;
}
.screen02 .text{
    position: absolute;
    top:14px;
    left: 50%;
    /* transform:translateX(-50%); */
    margin-left:-200px;
    /* display:none; */
    opacity:0;
}
/* 但是text会出现，代替text1  */
.screen02.now .text{
    /* display:block; */
    opacity:1;
}
.screen02 .goods{
    position: absolute;
    top:172px;
    left: 221px;
    transform-origin:right bottom;
    transform:scale(0);
}

/* 当载入第二屏的时候，沙发会延迟出现，刚好是在文字输入完之后做的动画 */
.screen02.now .goods{
    transform:scale(1);
    transition:all 1s linear 2s;
}

.screen02 .input{
    position: absolute;
    /* 最后的位置 */
    top:113px;
    right:150px;
    opacity:0;
    /* transform:translate(-48px,13px) scale(0.8); */
    /* 中间位置 */
    /* top:257px;
    right:348px; */
    
}
.screen02.now .input{
    animation:input02 3s linear forwards;    
}
.screen02 .input .key{
    position: absolute;
    /* 最后的位置 */    
    top:4px;
    right:59px;
    opacity:0;
    /* 中间位置 */
    /* top:5px;
    right:59px; */
}
.screen02.now .input .key{
    opacity:1;
    transition:all 1s linear 1s;
}
/* 给input一个动画 */
@keyframes input02{
    0%{
        opacity:1;
        transform:translate(2000px,257px)
    }
    33%{
        transform: translate(-200px,120px);
    }
    67%{
        transform: translate(-200px,120px);
    }
    100%{
        opacity:1;
        /* transform: translate(-48px,120px);         */
        transform:scale(0.8);    
    }
}
.screen02 .sofa{
    position: absolute;
    top:135px;
    left: 283px;
    transform:scale(0.5);
    opacity:0;
    z-index:1001;
}

/* 第二屏过渡到第三屏时，沙发掉下去 */
/* 这个时间是刚离开第二屏开始第三屏的时候 */
.screen02.leaved .sofa{
    animation:sofa02 1s linear forwards;
}
@keyframes sofa02{
    from{
        opacity:1;
    }
    to{
        opacity:1;
        transform:translate(-72px,680px);
    }
}
/* 到第三页 的时候，就隐藏了 */


/* 第三屏 */
.screen03{
    background: url(../images/03-bg.png) no-repeat center bottom;
}
.screen03 .cart01,
.screen03 .cart02{
    position: absolute;
    bottom:93px;
    right:193px;
}
/* 加载到第三屏时，01消失，02显示 */
.screen03.now .cart01{
    display:none;
    transition:all 1s linear;
}
.screen03 .cart02{
    display:none;
}
.screen03.now .cart02{
    display:block;
    transition:all 1s linear;    
}
.screen03 .change01,
.screen03 .change02{
    position: absolute;
    bottom:161px;
    right:115px;
}
.screen03.now .change01{
    display:none;
    transition:all 1s linear;
}
.screen03 .change02{
    display:none;
}
.screen03.now .change02{
    display:block;
    transition:all 1s linear;    
}
.screen03 .sofa{
    position: absolute;
    top:183px;
    left:210px;
    opacity: 0;
}

/* 从第三屏离开，到第四屏的时候，沙发会掉到购物车里面去 */
.screen03.leaved .sofa{
    animation:sofa03 1s linear;
    z-index:1000;    
}
@keyframes sofa03{
    from{
        opacity:1;
    }
    to{   
        opacity:1;        
        transform:translate(200px,660px) rotate(15deg);               
    }
}


/* 第四屏 */
.screen04{
    background:url("../images/04-bg.png") no-repeat center bottom;
}
.screen04 .cloud{
    position: absolute;
    top:0;
    left:10px;
}
.screen04.now .cloud{
    animation:cloud04 20s linear infinite alternate ;
}
@keyframes cloud04{
    from{
    }
    to{
    transform:translateX(1000px);        
    }
}
.screen04 .text01,
.screen04 .text02{
    position: absolute;
    top:100px;
    left: 50%;
    /* transform:translateX(-50%); */
    margin-left:-200px;
}
.screen04 .text02{
    opacity:0;
}
/* 当加载到页面的时候，01 隐藏，02显示 */
.screen04.now .text01{
    opacity:0;  
    transition:all 0.2s linear 3s; 
}
.screen04.now .text02{
    opacity:1;
    transition:all 0.2s linear 3s;     
}
.screen04 .address{
    position: absolute;
    top:190px;
    left: 329px;
    /* transform:translate(-50%,-50%); */
    opacity:0;
}
.screen04 .address .address02{
    position: absolute;
    top:56px;
    left: 56px;
    /* transform:translate(-50%,-170%); */
    opacity:0;
}
.screen04.now .address{
    opacity:1;
    transition:all 1s linear 3s;
}
.screen04.now .address .address02{
    opacity:1;
    transition:all 1s linear 4s;
}
.screen04 .cart{
    position: absolute;
    bottom:27px;
    left: 131px;
    z-index:1001;
}
.screen04 .sofa{
    position: absolute;
    bottom:110px;
    left:199px;
    opacity:0;
}
.screen04.now .cart{
    animation:cart04 5s linear 0.5s forwards;
}
.screen04.now .sofa{
    animation:cart04 5s linear 0.5s forwards;
    opacity:1;    
}
@keyframes cart04{
    from{
    }
    to{
        transform:translate(2000px,131px);
    }
}

/* section 5 */
.screen05{
    background: url("../images/05-bg.png") no-repeat center bottom;
}
.screen05 .text{
    position: absolute;
    top:30px;
    left:80px;
}
.screen05 .card{
    position:absolute;
    top:200px;
    left:170px;
    z-index:1001;
}
.screen05 .order{
    position: absolute;
    top:105px;
    left:295px;
    opacity:0;
}

.screen05.now .order{
    /* 鼠标点击后，才会发生的运动 */
    animation:order05 1s linear 2s forwards;
}
.screen05 .sofa{
    position: absolute;
    top: 338px;
    left: 260px;
    opacity:0;
}

.screen05.now .sofa{
    /* 鼠标点击后，才会发生的运动 */
    animation:sofa05 1s linear 1.5s forwards; 

}
.screen05.leaved .sofa{
    opacity:1;      
    z-index:1000;        
    animation:sofa051 1s linear;
}
.screen05 .mouse{
    height: 100%;
    width: 400px;
    top:0;
    right:0;
    position: absolute;
    overflow:hidden;    
}
/* 这个地方的100%  意思是 screen05 整个屏的height的100%，这样，超出的部分隐藏就行 */
.screen05 .mouse01,
.screen05 .mouse02{
    position:absolute;
    bottom:140px;
    right:70px;
}
.screen05 .mouse02{
    opacity:0;
}
.screen05.now .mouse01{
    opacity:0;
    transition:all 0.5s linear 1s;
}
.screen05.now .mouse02{
    opacity:1;
    transition:all 0.5s linear 1s;
}
.screen05 .hand{
    position: absolute;
    bottom:-80px;
    right:-120px;
    opacity:0;
}

.screen05.now .hand{
    animation: hand05 1s linear forwards;
}
/* 动画 */
/*   05   hand */
@keyframes hand05{
    from{
        opacity:1;
        transform:translate(15px,315px);
    }
    to{
        opacity:1;
    }
}

/*  05    order  */
@keyframes order05{
    from{
        opacity:1;
        transform:translate(10px,100px);        
    }
    to{
        opacity:1;        
    }
}

/* 05   sofa  */
@keyframes sofa05{
    from{
        opacity:1;        
        transform:translate(25px,-580px) rotate(45deg);    
    }
    to{
        opacity:1;        
        transform:rotate(45deg);    
    }
}
/* sofa  动画 */
@keyframes sofa051{
    from{
        opacity:1;    
        transform:rotate(45deg);            
    }
    to{
        opacity:1;    
        transform:translate(-170px,425px) scale(0.3) rotate(45deg);
    }
}
/* section  06 */
/* 动画过程 */
/* 1，当section 05  滑到  section  06 时， sofa会向下掉 1s */
/* 2，sofa掉下来的同时，box 会从左边滑过来，接住sofa  */
/* 3，然后box和sofa  会一起下落到车里   1s*/
/* 4，然后car  就向前运动（实际上，是背景图延迟滑动）延时4s  运动1s */
/* 5,car  运动的过程，0.25s  之后，buyer 会出现，然后  0.5s  之后 address会出现 */
/* 6，然后快递小哥出现， */
/* 6.1，先是从车屁股缩放，有0-1,    0.5s   */
/* 6.2, 然后向上运动到车上面  0.5s  */
/* 6.3 再向前运动   0.5s */
/* 7，快递小哥运动完之后，say 会出现 0.5s */
/* 8，完成之后，text会显示另一个  0.5s */
/* 9，text完成之后， ，门会打开    0.5s*/
/* 10, 门打开之后   Person 出现  1s  */
.screen06 {
    background: url("../images/06-bg.png") no-repeat 25% bottom;
}
.screen06.now{
    transition:background 1s linear 4s;
    background: url("../images/06-bg.png") no-repeat 100% bottom;    
}
.screen06 .cloud02{
    position: absolute;
    top:-40px;
    left:100px;
}
.screen06 .cloud01{
    position: absolute;
    top:-30px;
    left:0px;
}

/* .screen06.now .cloud01{
    transform:translateX(600px);
    transition:all 60s linear infinite alternate;
}
.screen06.now .cloud02{
    transform:translateX(600px);
    transition:all 60s linear 2s infinite alternate;
} */
/* 为什么不能用transition  是因为 transition并没有 后面两个参数，只有四个参数 */
.screen06.now .cloud01{
    animation:cloud06 40s linear 2s infinite alternate;
}
.screen06.now .cloud02{
    animation:cloud06 30s linear infinite alternate;
}
.screen06 .car{
    position: absolute;
    bottom:0px;
    left:80px;
    z-index:1002;
}
.screen06 .text01{
    position: absolute;
    bottom:450px;
    left:-50px;
    z-index:999;
    opacity:1;
}
.screen06 .text02{
    position: absolute;
    bottom:450px;
    left:-50px;
    opacity:0;
}
.screen06.now .text01{
    opacity:0;
    transition:all 0.5s linear 7s;
}
.screen06.now .text02{
    opacity:1;
    transition:all 0.5s linear 7s;
}
.screen06 .box{
    position: absolute;
    bottom:350px;
    left:100px;
    z-index:1001;
}
/* 等沙发向下落的同时，box从左边接住sofa */
.screen06.leaved .box{
    animation:box06 2s linear forwards;
}

.screen06 .buyer,
.screen06 .address{
    position: absolute;
    bottom:130px;
    left:200px;
    opacity:0;
}
.screen06.now .buyer{
    opacity:1;
    transition:all 0.5s linear 4.25s ;
}
.screen06.now .address{
    opacity:1;
    transition:all 0.25s linear 4.75s;
}
.screen06 .worker{
    position: absolute;
    bottom:0;
    left:-30px;
    transform:scale(0);
}
.screen06.now .worker{
    animation:worker06 1.5s linear 5s forwards;
}
.screen06 .say{
    position: absolute;
    top:0;
    left:0;
    opacity:0;
    transform:translate(350px,-400px);    
}
.screen06.now .say{
    opacity:1;
    transition:all 0.5s linear 6.5s;    
}
.screen06 .door{
    position: absolute;
    top:334px;
    left:743px;
    opacity:0;
}
.screen06.now .door{
    opacity:1;
    transition:all 0.5s linear 7.5s;
}
.screen06 .person{
    position: absolute;
    top:190px;
    left:650px;
    transform:scale(0);
}
.screen06.now .person{
    animation: person06 1s linear 8s forwards;
}

/* 动画    06 */
/* cloud */
@keyframes cloud06{
    from{    }
    to{
        transform:translateX(600px);
    }
}

/* box   */
/* 等沙发向下落的同时，box从左边接住sofa */
@keyframes box06{
    from{
        transform:translate(-1000px,0);        
    }
    50%{
        transform:translate(0,0);                
    }
    to{
        transform:translate(0,325px) scale(0.3);            
    
    }
}

/* sofa */
@keyframes sofa06{
    from{
        transform:translate(0,0) scale(0.3);                        
    }
    to{
        transform:translate(0,325px) scale(0);                    
    }
}

/* worker */
@keyframes worker06{
    from{
        transform-origin:left bottom;
        transform:scale(1);
    }
    50%{
        transform:translate(0,-100px);    
    }
    to{
        transform:translate(200px,-100px);    
    }
}
/* person */
@keyframes person06{
    from{
        transform:translate(150px,0px) scale(0);
        transform-origin:right bottom;        
    }
    50%{
        transform:translate(0,0) scale(1);
    }
    to{
        transform:translate(-100px,0) scale(1);
    }
}
/* section   07 */
.screen07 {
    background: url("../images/07-bg.png") no-repeat center bottom;
}
.screen07 .star{
    position: absolute;
    top:142px;
    left:156px;
}
.screen07 .star img{
    float: left;
    margin-right:6.6px;
    opacity:0;
}    
.screen07 .text{
    position: absolute;
    top:170px;
    left:160px;
    opacity:0;
}
.screen07.show .text{
    animation:text07 1s linear 2.4s forwards;
}
/* 动画 */
/* 星星 */
/* 当离开section 06  滑动到07  时   五个星星就会从左到右一次显示，然后星星显示完毕之后，好评 也会从其左下角缩放到页面上 */
/* 一个笨办法，就是挨个做动画 */
.screen07.show .star img{
    opacity:1;
    transition:all 0.2s linear forwards;
}

/* 好评 */
/* 延迟一秒  缩放 */
@keyframes text07{
    from{
        opacity:1;        
        transform:scale(0);
        transform-origin:left bottom;         
    }
    to{
        opacity:1;
        transform:scale(1);
        transform-origin:left bottom; 
    }
}


/* section   08 */

.screen08 {
    background: url("../images/08-bg.png");
}
.screen08 .again {
    position: absolute;
    top:150px;
    right:200px;
}
.screen08 .btn{
    position:absolute;
    top:0;
    left:0;
}
.screen08 .btn img{
    position: absolute;
    top:110px;
    left:500px;
}
.screen08 .btn img:last-child{
    opacity:0;
}
.screen08 .btn:hover img:last-child{
    opacity:1;
}
/* .screen08 .btn:hover .btn02{
    opacity:1;
} */
.screen08 .hand{
    position: absolute;
    bottom:0px;
    right:550px;
}







