
/* 在正式开始之前，我们可以观察到项目中的有两个是公共的，每个页面都会出现的
 */
 /* ==========直接进入购物中心 */
 .go{
     position: fixed;
     top:30px;
     right: 40px;
     z-index:2000;
 }
 /* ===========继续向下，更多精彩 */
 .more{
    position: fixed;
    bottom:50px;
    right: 60px;
    z-index:2000;
    /* 调用动画 */
    animation: more 1.5s linear infinite ;
}
@keyframes more {
    0%{
        transform:translateY(0px);
    }
    25%{
        transform:translateY(-20px);
    }
    50%{
        transform:translateY(0px);
    }
    75%{
        transform:translateY(20px);
    }
    100%{
        transform:translateY(0px);
    }
}


/* 第一个屏幕：
1， 沙发，横幅，是运动的
2，其他的图片通过背景定位在上面就行了*/
/* 我们可以将将所有的图片放在一个容器里面，这样当屏幕缩放的时候，都不会出现图片乱飞的效果 */
.screen01 {
    background:url(../images/01-bg.png) no-repeat center bottom;
}
.contain{
    width: 900px;
    height: 600px;
    position: absolute;
    bottom:0;
    left: 50%;
    transform:translateX(-50%);
    background-color: rgba(0,0,0,0.2);
}
.screen01 .sofa{
    position: absolute;
    top:130px;
    left: 240px;
    /* 调用sofa01 */
    animation:sofa01 1s linear infinite alternate;
}
.screen01 .fly{
    position: absolute;
    right:-50px;
    top:20px;
    /* 动画 可以多个调用 使用 */
    animation:sofa01 1s linear 0.5s infinite alternate;
}
.screen01 .goods{
    position: absolute;
    bottom:100px;
    left:40px;
}

/* 现在给沙发一个运动的动画 */
@keyframes sofa01 {
    from{
        transform:translateY(0);
    }
    to{
        transform:translateY(-30px);
    }
}

/* 第二个屏幕
1，当完全加载到第二个屏幕的时候，处于屏幕中间的文字，会变换
2，输入框会从最右边跑到电脑中间，然后停顿一下，然后再跑到电脑右上角
3，当输入框在电脑中间停顿的时候，会输入   沙发   两个字
4，在输入框从电脑中间跑到电脑右上角的这时间里，沙发样式会从电脑右下角缩放  放大到  电脑中间 */
.screen02{
    background:url("../images/02-bg.png") no-repeat center bottom;
}
.screen02 .text1{
    position: absolute;
    top:20px;
    left: 50%;
    transform:translateX(-50%);
}
/* 在页面载入第二屏的时候，text1会消失 */
.screen02.now .text1{
    /* display:none; */
    opacity:0;
}
.screen02 .text{
    position: absolute;
    top:14px;
    left: 50%;
    transform:translateX(-50%);
    /* display:none; */
    opacity:0;
}
/* 但是text会出现，代替text1  */
.screen02.now .text{
    /* display:block; */
    opacity:1;
}
.screen02 .goods{
    position: absolute;
    top:172px;
    left: 221px;
    transform-origin:right bottom;
    transform:scale(0);
}

/* 当载入第二屏的时候，沙发会延迟出现，刚好是在文字输入完之后做的动画 */
.screen02.now .goods{
    transform:scale(1);
    transition:all 1s linear 2s;
}

.screen02 .input{
    position: absolute;
    /* 最后的位置 */
    top:113px;
    right:150px;
    opacity:0;
    /* transform:translate(-48px,13px) scale(0.8); */
    /* 中间位置 */
    /* top:257px;
    right:348px; */
    
}
.screen02.now .input{
    animation:input02 3s linear forwards;    
}
.screen02 .input .key{
    position: absolute;
    /* 最后的位置 */    
    top:4px;
    right:59px;
    opacity:0;
    /* 中间位置 */
    /* top:5px;
    right:59px; */
}
.screen02.now .input .key{
    opacity:1;
    transition:all 1s linear 1s;
}
/* 给input一个动画 */
@keyframes input02{
    0%{
        opacity:1;
        transform:translate(2000px,257px)
    }
    33%{
        transform: translate(-200px,120px);
    }
    67%{
        transform: translate(-200px,120px);
    }
    100%{
        opacity:1;
        /* transform: translate(-48px,120px);         */
        transform:scale(0.8);    
    }
}
.screen02 .sofa{
    position: absolute;
    top:135px;
    left: 283px;
    transform:scale(0.5);
    opacity:0;
    z-index:1001;
}

/* 第二屏过渡到第三屏时，沙发掉下去 */
/* 这个时间是刚离开第二屏开始第三屏的时候 */
.screen02.leaved .sofa{
    animation:sofa02 1s linear forwards;
}
@keyframes sofa02{
    from{
        opacity:1;
    }
    to{
        opacity:1;
        /* z-index:20001;     */
        transform:translate(-72px,680px);
    }
}
/* 到第三页 的时候，就隐藏了 */


/* 第三屏 */
.screen03{
    background: url(../images/03-bg.png) no-repeat center bottom;
    z-index: -1;
}
.screen03 .cart01,
.screen03 .cart02{
    position: absolute;
    bottom:93px;
    right:193px;
}
/* 加载到第三屏时，01消失，02显示 */
.screen03.now .cart01{
    display:none;
    transition:all 1s linear;
}
.screen03 .cart02{
    display:none;
}
.screen03.now .cart02{
    display:block;
    transition:all 1s linear;    
}
.screen03 .change01,
.screen03 .change02{
    position: absolute;
    bottom:161px;
    right:115px;
}
.screen03.now .change01{
    display:none;
    transition:all 1s linear;
}
.screen03 .change02{
    display:none;
}
.screen03.now .change02{
    display:block;
    transition:all 1s linear;    
}
.screen03 .sofa{
    position: absolute;
    top:183px;
    left:210px;
    opacity: 0;
}

/* 从第三屏离开，到第四屏的时候，沙发会掉到购物车里面去 */
.screen03.leaved .sofa{
    animation:sofa03 1s linear;
}
@keyframes sofa03{
    from{
        opacity:1;
    }
    to{   
        opacity:1;        
        transform:translate(200px,660px) rotate(15deg);               
    }
}


/* 第四屏 */
.screen04{
    background:url("../images/04-bg.png") no-repeat center bottom;
    z-index:-2;
}
.screen04 .cloud{
    position: absolute;
    top:0;
    left:10px;
}
.screen04.now .cloud{
    animation:cloud04 20s linear infinite alternate ;
}
@keyframes cloud04{
    from{
    }
    to{
    transform:translateX(1000px);        
    }
}
.screen04 .text01,
.screen04 .text02{
    position: absolute;
    top:100px;
    left: 50%;
    transform:translateX(-50%);
}
.screen04 .text02{
    opacity:0;
}
/* 当加载到页面的时候，01 隐藏，02显示 */
.screen04.now .text01{
    opacity:0;  
    transition:all 0.2s linear 3s; 
}
.screen04.now .text02{
    opacity:1;
    transition:all 0.2s linear 3s;     
}
.screen04 .address{
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
    opacity:0;
}
.screen04 .address .address02{
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%,-170%);
    opacity:0;
}
.screen04.now .address{
    opacity:1;
    transition:all 1s linear 3s;
}
.screen04.now .address .address02{
    opacity:1;
    transition:all 1s linear 4s;
}
.screen04 .cart{
    position: absolute;
    bottom:40px;
    left: 50%;
    transform:translate(-50%);
}
/* 延迟1s，购物车会自动向右，离开可视界面 */
.screen04.now .cart{
    transition:all 3s linear 0.5s ;
    transform:translate(2000px,40px);    
}
.screen04 .cart .sofa{
    position: absolute;
    bottom:157px;
    left: 163px;
    opacity:0;
    z-index:-4;    
}
.screen04.now .cart .sofa{
    opacity:1;
}









