
/* ============base========== */
*{
    margin:0;
    padding:0;
}

.clearfix:after{   
    content:"";
    /* //设置内容为空     */
    height:0;
    /* //高度为0     */
    line-height:0;
    /* //行高为0 */
    display:block;
    /* //将文本转为块级元素 */
    visibility:hidden;
    /* //将元素隐藏 */
    clear:both;
    /* 清除浮动 */
}
    
.clearfix{
    zoom:1;
    /* 为了兼容IE */
}
a{
    text-decoration:none;
    color:white;
    font-family:'微软雅黑';
}
ul{
    list-style:none;
}
body,html{
    width: 100%;
    height:100%;
    background-color:white;
}
.letao{
    width: 100%;
    height: 100%;
}


/* topbar */
.letao_topbar{ 
    height:45px;
    width: 100%;
    background-color:#069;
    position:fixed;
    top:0;
    left:0;
    text-align:center; 
    z-index:999;   
}
.letao_topbar h3 a{
    font-size:18px;
    font-weight:normal;
    line-height:40px;        
}
.letao_topbar .icon-sousuo{
    position:absolute;
    top:12px;
    right:20px;
    font-weight:900;
    font-size:18px;
} 

/* banner */
.letao-body {
    padding-top:45px;
}
.letao-body .letao-banner .mui-slider-indicator{
    width: 135px;
    left:50%;
    margin-left:-48px;
}


/* classify */
.letao-classify{
    width: 100%;
    height: 100%;
}
.letao-classify .letao-imgBox{
    margin:10px;
}
.letao-classify .letao-imgBox li{
    float:left;
    width: 33.3%;
    height: 50%;
}
.letao-classify .letao-imgBox li a{
    width: 100%;
    height: 100%;
}
.letao-classify .letao-imgBox li a img{
    display:block;
    width: 100%;
    height: 100%;
}

/* foods */
.letao-foods{
    width: 100%;
    height: 100%;
}
.letao-foodsBox{
    margin:10px;
    
}
.letao-foodsBox .letao-details{
    float:left;
    width: 50%;
    height: 50%;
    margin-top:10px;
    padding-left:6px; 
    text-align:center;           
}
.letao-foodsBox div:nth-child(2n-1){
    padding-left:0;
    padding-right:6px;
}
.letao-foodsBox .letao-details a{
    display:block;
    box-shadow:1px 0px 3px rgb(105, 103, 103); 
    padding-bottom:10px;
}
.letao-foodsBox .letao-details a img{
    display:block;
    width: 100%;
}
.letao-foodsBox .letao-details a p{
    width:100%;
    font-size:16px;
    text-align:center;
    color:rgb(52, 167, 216);
    margin-bottom:0;
}
.letao-foodsBox .letao-details a p:last-child{
    background-color:rgb(52, 167, 216);
    font-size:14px;    
    width:80px;
    height:30px;
    color:white;
    line-height:30px;
    margin:0 auto;
    border-radius:3px;
    box-shadow:-1px 0px 10px rgb(52, 167, 216);
}
.letao-foodsBox .letao-details a span{
    font-size:10px;
    display:inline-block;
    color:red;
}
.letao-foodsBox .letao-details a span:nth-child(4){
    color:rgb(87, 83, 83);
    text-decoration:line-through;
}

/* footernav */
.letao-footernav{
    position:fixed;
    bottom:0;
    left:0;
    width: 100%;
    height: 50px;
    background-color:#069;
    line-height:25px; 
    z-index:999;   
}
.letao-footernavBox{
    width:80%;
    height: 100%;
    text-align:center;
    margin:0 auto;
}
.letao-footernavBox li{
    float:left;
    width:25%;
    font-size:12px;
    color:white;
}
.letao-footernavBox li a {
    width: 100%;
}
.letao-footernavBox li a span{
    display:block;
}
.letao-footernavBox li a .iconfont{
    font-size:20px;
    margin-bottom:-5px;
    margin-top:5px;
}

/* 区域滚动 */

